<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

    
</style>

<body>
    <h1>admindashboard</h1>
    

 <table id="customers">
     <thead>
            <tr>
                      <th>fullname</th>
                      <th>course</th>
                  
                     <th>delete</th>
             </tr>

     </thead>
 <tbody>
                         <%allUsers.forEach(element =>{ %>
                <tr>
                       <td><%=element.fullname%></td>
                        <td><%=element.course%></td>
                        
                        <td><a href=delete/<%= element._id %>><p>delete</p></a></td>
                </tr>

                             <% }) %>
 </tbody>

    </table>
</body>
</html>