<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>WELCOME TO STUDENTS PORTAL</h1>

    <div class="profile">
        
<div><img src=<%= foundUser.passport %>  alt=<%= foundUser.fullname %>></div>
 <div class="fullname"><p><%=foundUser.fullname %></p></div>
 
    </div>
    

    
    
</body>
</html>